.box {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: darkcyan;
    display: flex;
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
    justify-content: center;
    align-items: center;
}
.box-item {
    width: 100px;
    height: 100px;
    background-color: cyan;
    border: 1px solid black;
}