.box {
    width: 300px;
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 10px;
}
.box-item {
    padding: 15px;
    background-color: cyan;
    border: 1px solid black;
}