a {
    color: cadetblue;
}
a:link {
    color: green;
}
a:visited {
    color: gray;
}
a:hover {
    background-color: aquamarine;
}
a:focus {
    outline: 1px solid palegreen;
}
a:active {
    color: black;
}