div {
    width: 500px;
    height: auto;
    background-color: crimson;
    display: inline;
}
span {
    width: 500px;
    height: auto;
    background-color: teal;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul > li {
    display: inline-block;
    width: 150px;
    height: auto;
    background-color: crimson;
    color: white;
    padding: 15px;
}